<%- include('header') -%>

    <div class="row">
      <div class="col-lg-6">
        <h1>Are you looking for a paw to hold?</h1>
        <form class="dogcatbuttons" action="/dog" method="post">
          <button type="submit" class="btn btn-lg btn-outline-dark download-button"> <i class="fas fa-dog"></i> Woof Woof!</button>
        </form>
        <form class="dogcatbuttons" action="/cat" method="post">
          <button type="submit" class="btn btn-lg btn-outline-dark download-button"><i class="fas fa-cat"></i> Meow Meow!</button>
        </form>
      </div>
      <div class="col-lg-6">
        <img class="maggie" src="images/Maggie.png" alt="maggie">
      </div>
    </div>
  </div>
  </section>
<%- include('footer') -%>
