#title{
  background-color: #FFC0CB;
  color: white;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

.dogcatbuttons{
  display: inline;
}
.maggie{
  width: 50%;
  display: block;
  margin-left: auto;
   margin-right: auto;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
}

.download-button{
  margin: 5% 3% 5% 0;
}

footer{
  text-align: center;
}
